.git
.gitignore
.DS_Store
.vscode
node_modules
webview/node_modules
src/**/*.test.ts
**/*.map
**/*.ts
!dist/**
tsconfig.json
.prettierrc
.eslintrc
pnpm-lock.yaml
webpack.config.js
vite.config.ts
webpack.config.webview.js
